.logo {
    width : 100px;
    height : 100px;
    margin-left: 5px;
}

.flash{
    position: fixed;
    padding:5px ;
    font-size: 2rem;
    margin: 10rem 0;
    border-radius: 5px;
}

.flash-success{

    background-color: forestgreen
}
.flash-error{
    background-color: darkred;
}

label {
    font-size: 1rem;
    margin: .5rem 1rem .5rem .5rem;
    width: calc(80% );
    padding: .5rem;
}


input,
select {
    margin-bottom: 1rem;
    box-sizing: border-box;
    width: 200px;
    max-width: 50%;

}

input[type="number"]{
    margin: .8rem 1rem .5rem .5rem;
    width: calc(50% - 2rem);
}
input[type="date"]{
    margin: .8rem 1rem .5rem .5rem;
    width: calc(40% - 2rem);
}
input[type="text"] {
    margin: .8rem 1rem .5rem .5rem;
    width: calc(50% - 2rem);
}
input[type ="search"]{
    margin: .5rem 1rem .5rem .5rem;
    width: calc(100% - 2rem);
}
button[type="submit"]{
    margin: .5rem 1rem 2rem .5rem;
    color: white;
    border-color: #2196F3 ;
    background-color: #2196F3;
    padding: .5em 1em .5em 1em;
    border-radius: .3em ;
    font-size: 1.3rem;
}
textarea{
    margin: .8rem 1rem .5rem .5rem;
    width: calc(90% - 20rem);
}
input[type="checkbox"]{
    margin: auto;
}

.retour{
    margin: .5rem 1rem 2rem .5rem;
    padding: .5em 1em .5em 1em;
}
.detail-sortie{
    margin: 2rem 3rem 1rem 5rem;
    font-size:large;
}
h2{
    color: #2196F3;
}