.logo {
    width : 100px;
    height : 100px;
    margin-left: 5px;
}

label {
    display: block;
}

input,
textarea,
select {
    margin-bottom: 1rem;
    box-sizing: border-box;
    width: 150px;
    max-width: 50%;

}