{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="text-center">Crée une sortie</h2>
<div>
    {{ form_start(sortieForm) }}

         {{ form_widget(sortieForm) }}


    <button class="btn blue rounded-1">Enregister</button>
    {{ form_end(sortieForm) }}

<div>
{% endblock %}

{% block title %}{{ parent() }}{% endblock %}

