<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=yes, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Sortir.com{% endblock %}</title>

        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

        {# lien ver la page css #}
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">

    </head>
    <body>
    <header>
        <div class="container">
            <h1 class="header-logo">
                {# lien ver la page d'aceuil grace au logo avec un path, passage vers une asset pour le lien vers le logo #}
                <a href="/"><img src="{{ asset('img/logo.png') }}" class="logo" alt="Sortir.com"></a>
            </h1>
            <nav class="header-nav">
            <ul>

                <il> <a href="/" title="Home">Accueil</a> </il>
                <il> <a href="#"title="Ville">Villes</a> </il>
                <il> <a href="#" title="Campus">Campus</a> </il>
                <il> <a href="profil" title="profil">Mon profil</a> </il>
                <il> <a href="connexion" title="login">Se connecter</a> </il>
                <il> <a href="#" title="logout">Se déconnecter </a></il>



            </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block body %}{% endblock %}
    </main>

    <footer>
       <div>&copy; {{ "now"|date("Y") }} Sortir.com</div>
    </footer>
    </body>

</html>
